.img .bg-img {
  width: 250px;
  height: 300px;
  background-image: url(./characterimg.png);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.character {
  width: 250px;
  height: 40px;
  position: fixed;
  margin-left: 42%;
}

.character .name {
  width: 250px;
  height: 40px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
