.munu .right {
  position: fixed;
  bottom: 65px;
  right: 50px;
}
.munu .right .btn-munu1 {
  width: 50px;
  height: 50px;
}
.munu .right .munu2 {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  font-size: 18px;
}
.munu .right .munu3 {
  width: 50px;
  height: 50px;
  font-size: 18px;
  margin-left: 20px;
}

/* <-------------------------------------> */

body.active-munulf {
  overflow: hidden;
}
.btn-munu1 {
  font-size: 18px;
}
.munurg,
.overlay {
  width: 50vw;
  height: 50vh;
  top: 25%;
  left: 25%;
  right: 0;
  bottom: 0;
  position: fixed;
}
.munurg-munu1-content {
  position: absolute;
  top: 47%;
  left: -10%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  border: 2px solid rgb(175, 175, 175);
  padding: 14px 28px;
  border-radius: 3px;
  width: 300px;
  height: 420px;
}
.munurg-munu1-content .box {
  width: 150px;
  height: 180px;
  background-color: lightcoral;
}
.titile {
  margin-bottom: 10px;
  margin-top: -2px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  padding: 5px 7px;
}
